*{
  padding: 0;
  margin: 0;
  font-family:  U8, sans-serif;
  box-sizing: border-box;
}

body{
  background-color:rgb(6, 40, 99);
  position: relative;
  padding: 0 30px;

}
.corner-images{
  border:1px solid red ;
}

.corner-images img{
  position: fixed;
  width: 150px;
  height: 150px;
}

.corner-images .topleft{
  left: -30px;
  top: -30px;
}

.corner-images .topright{
  right: -30px;
  top: -30px;
}

.corner-images .bottomleft{
  left: -30px;
  bottom: -30px;
}

.corner-images .bottomright{
  right: -30px;
  bottom: -30px;
}

.logo{
  text-align: center;
  padding: 50px 0;
  position: relative;
  z-index: 1;
  
}

form{
  background-color: white;
  min-width: 200px;
  max-width: 450px;
  margin:0 auto ;
  padding: 50px;
  border-radius: 20px 20px 20px 0;
  position: relative;
  z-index: 1;
}

form .heading{
text-align: center;
padding-bottom:25px ;
}

form h1{
  color:#083e9e ;
  font-size: 1.5rem;
  padding-bottom: 4px;
}
form p{
  font-size:.875rem ;
  color:#4a5568 ;
  font-family:Karla, sans-serif ;
}

form .form-group{
  margin-bottom: 30px;
}

form .form-group label{
  font-size: .75rem;
  display: block;
  font-weight:700;
  margin-bottom: 10px;
  color: #4a5568;
}
form .form-group input, .form-group select{
  width: 100%;
  height: 50px;
  font-size:16px ;
  color:#1a202c ;
  padding: 5px 10px;
  background-color: rgb(237, 242, 247);
  border: none;
}

form .submit button{
  width: 100%;
  background-color: rgb(8, 62, 158);
  color: white;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 10px 10px 10px 0;
  font-weight: 700;
}

p.link{
  text-align: center;
  margin: 40px 0;
}

p a{
  color: white;
  text-decoration: none;
}